<config>
	<file>D:\telmap\docs\my_activity_log.txt</file>
	<idle_words>IDLE</idle_words>
	<work_words>Eclipse;Outlook;MicroEmulator;BMT;vodacom_sa;Remote Desktop Connection;\?\?;build;Zion;RE:</work_words>
	<procrastinating_words>YouTube;Gmail;Chess;Google</procrastinating_words>
	<words>
		<list name="Procrastinating">YouTube;Gmail;Chess;Google</list>
		<list name="Working"></list>
		<list name="Idling"></list>
	</words>
</config>